<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Binary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Binary.Properties.Settings>
            <setting name="PasswordPassed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirectoryC" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryMW" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryUG2" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAutobackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableEndscriptLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableStaticEnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableWatermarks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YAMLDirectory" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="BinaryUsername" serializeAs="String">
                <value />
            </setting>
        </Binary.Properties.Settings>
    </userSettings>
</configuration>